title = "blog_by_categorie"
url = "/blogbycat/:categorie_id/"
layout = "default"
is_hidden = 0

[CategoriesLook]

[blogLook]
==
<?php
function onStart()
{
    $this['categories'] = $this['CategoriesLook']->getAllCategories();
  $this['cat_posts'] = $this['blogLook']->getAllPostsByCategorie();
  //dd($this['cat_posts']);
}
?>
==
{##}
<section>
      <div class="title">
        <h1>Blog</h1>
      </div>
        <div class="categories">
          {% for cat in categories %}
              
              <a class="categorie" href="{{ 'blog_by_categorie'|page({ categorie_id: cat.id  }) }}">{{ cat.name }}</a>
          {% endfor %}
        </div>
        <hr>
        <br>
      {% for post in cat_posts %}
      <div class="blogs">
        <div class="blog">
          <a href="{{ 'blog_post'|page({ post_id: post.id  }) }}">{{ post.title }}</a>
        </div>
      {% endfor %}
      </div>
    </section>