title = "blog_post"
url = "/blog/:post_id"
layout = "default"
is_hidden = 0

[blogPost]
post_id = "{{ :post_id }}"
==
<?php
use Ihorr\Blog\Models\Posts as PostModel;

    function onStart(){
        
        $this['post'] = $this['blogPost']->getPost()->toArray(); 

    }
?>
==
{##}

<section>
      <div class="title">
        <h1>{{ post.title }}</h1>
      </div>

      

      <div class="blogs">
        <div class="blog">
          {{ post.content|raw }}
          
        </div>
      </div>
    </section>
    <section id="comments">
    <ul>
    {% if post.comment %}
      {% for comment in post.comment%}
      <li> {{ comment.author }} - {{ comment.text }}</li>
      {% endfor %}
    {% endif %}
    </ul>
    </section>
  <section id="add-comment">
    {{ form_open({ url: '/send/commentpost' }) }}
      <input type="text" name="author">
      <input type="text" name="text">
      <input type="hidden" name="post_id" value="{{ post.id }}">
      <button type="submit">Отправить</button>
    {{ form_close }}
  </section>